h1 {
	font-family: “Arial Black”, “Arial Bold”, Gadget, sans-serif;
	font-size: 80px;
}

body {
	background-color: rgb(255, 22, 47);
	color: rgb(255, 0, 232);
	width: 100%;
	height: 100%;
}

h2 {
	margin-top: 10%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 50px;
}

h3 {
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 50px;
}

p {
	font-size: 30px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

button {
	border-radius: 20px;
	background-color: rgba(255, 76, 239, .8);
  border: solid 3px rgba(127, 0, 116, .7);
  color: rgba(140, 0, 128, 1);
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 13px;
}

#button, #box {
	background-color: rgba(204, 0, 186, .2);
	padding: 1%;
	width: 15%;
	margin: auto;
  border-radius: 30px;
  border: solid 1px rgba(127, 0, 116, .7);
}

#box {
  width: 5%;
}

#box button {
  display: block;
  margin: auto;
}